<div class="gradient-bg">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="display-4 text-light">¿Cómo podemos ayudarte?</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
        <div class="card w-100 sombra-box">
          <img src="assets/018-coding.svg" alt="" class="card-img-top img-card mx-auto">
          <div class="card-body">
            <h5 class="card-title">Creación de tu página web</h5>
            <h6 class="card-subtitle mb-2 text-muted">Llegó el siglo XXI, conecta tu negocio a internet!</h6>
            <p class="card-text text-justify text-secondary">
              Contamos con diferentes páquetes para que te sumes a la gran comunidad de negocios que se encuentran en la web, no esperes más para 
              obtener más clientes y darte a conocer a un panorama global!
            </p>
            <div class="text-right">
              <a href="#" role="button" class="card-link btn btn-primary btn-sm btn-r" >Súmate!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
        <div class="card w-100  sombra-box">
          <img src="assets/010-global-network.svg" alt="" class="card-img-top img-card mx-auto">
          <div class="card-body">
            <h5 class="card-title">Campañas de publicidad web</h5>
            <h6 class="card-subtitle mb-2 text-muted">¿Ya tienes tu web, pero no recibes muchas visitas?</h6>
            <p class="card-text text-justify text-secondary">
              Contamos con una red de expertos en posicionamiento de marca dentro de redes sociales y buscadores, si tu intención es conectar con 
              clientes nuevos, tu mejor opción es contactarnos 
            </p>
            <div class="text-right">
              <a href="#" role="button" class="card-link btn btn-primary btn-sm btn-r" >Más información!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12">
        <div class="card w-100  sombra-box">
          <img src="assets/015-connection.svg" alt="" class="card-img-top img-card mx-auto">
          <div class="card-body">
            <h5 class="card-title">Asesoramiento en temas T.I.</h5>
            <h6 class="card-subtitle mb-2 text-muted">¿Tienes dudas?, contactanos y sabremos como ayudarte</h6>
            <p class="card-text text-justify text-secondary">
              Podemos ayudarte en un extenso catálogo de temas relacionados con la informática en general, no dudes y contactanos para darte a conocer
              todos nuestros paquetes de asesoramiento
            </p>
            <div class="text-right">
             <a href="#" role="button" class="card-link btn btn-primary btn-sm btn-r" >Consulta los paquetes aquí!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <br><br>
</div>